<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/basic.css"/>
</head>

<body>
    <%- include ('partials/banner') %>
    <nav>
        <div class="menu">
            <a href="/reglog">
                <h1>Log in</h1>
            </a>
        </div>
    </nav>
    <article>
        <h1>Collect digital cards!</h1>
        <img src="img/promo.png"></img>
    </article>
</body>

</html>