<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/basic.css"/>
</head>

<body>
    <header>
        <banner>
            <img alt="Banner" , src="background.jpg">
        </banner>
    </header>
    <nav>
        <div class="menu">
            <a href="/reglog">
                <h1>Log in</h1>
            </a>
        </div>
    </nav>
    <article>
        <h1>Collect digital cards!</h1>
        <img src="img/background.jpg"></img>
    </article>
</body>

</html>