<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Little witch in the woods</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/basic.css"/>
</head>

<body>
    <header>
        <banner>
            <img alt="Banner" src="background.jpg"/>
        </banner>
    </header>
    <%- include ('partials/navlog') %>
    <div>
        <form>
          <label for="inputNumber">Enter a numerical value:</label>
          <input type="number" id="inputNumber" name="inputNumber">
          <button type="submit">Submit</button>
        </form>
    </div>      
    <footer class="background">
        <p class="text-footer">
            xyz
        </p>
    </footer>
</body>